.menuMobile {
    position: absolute; /*Flutua por cima de todos os outros itens*/
    top: 0;
    left: -100%;
    width: 250px;
    height: 100vh;
    background-color: black;
    color:white;
    transition: all 700ms ease-in-out;
    font-family: Arial , Courier, monospace;
    
}

.menuMobile ul li{
    list-style: none;
    margin-bottom: 10px;
}

.menuMobile ul li a:hover {
    font-weight: bold;
    color: red;
}

.menuMobile.aberto {
    left: 0%;
}

.botaoMenu {
    position: absolute;
    top: 20px;
    right: 20px;
}

.botaoMenu:hover{
    font-weight: bold;
    cursor: pointer;
}


li a {
    text-decoration: none;
    color: white;
}

